{% extends 'base.html' %}
{% block son_page_css %}
{% load static %}
<style>
    * {
        padding: 0 0;
        margin: 0 0;
    }

    section {
        height: 100%;
        display: block;
        width: 1000px;
        margin: 0 auto;
    }

    section:after {
        content: '';
        display: block;
        clear: both;
    }

    .tt td {
        color: #28a745;
        font-weight: 700;
        background-color: #f1f1f1;
        width: 100%;
    }

    .publish_table tbody tr:nth-of-type(even) td {
        width: 50%;
    }

    .append {
        font-size: 12px;
        color: #de3a16;
        width: 70px;
        text-align: center;
        height: 100%;
        display: inline-block;
    }
</style>

{% endblock %}
{% block section %}
<section>
    <form action="/publish/" method="post">
        <table class="publish_table">
            <tbody>
            <tr class="tt">
                <td>成品图</td>
            </tr>
            <tr>
                <td><input type="file" id="main_img" name="main_img"></td>
            </tr>
            <tr class="tt">
                <td>标题</td>
            </tr>
            <tr>
                <td colspan="2"><input id="title" type="text" name="title"></td>
            </tr>
            <tr class="tt">
                <td>类型</td>
            </tr>
            <tr>
                <td colspan="2"><input id="type" type="text" name="tpye"></td>
            </tr>
            <tr class="tt">
                <td>描述</td>
            </tr>
            <tr>
                <td colspan="2"><textarea id="desc" style="width: 100%" placeholder="简单价绍你的菜谱吧😄"
                                          name="desc"></textarea></td>
            </tr>
            <tr id="usefood" class="tt">
                <td>用料 <a href="javascript:(0)" class="append">添加用料</a></td>
            </tr>
            <tr class="m">
                <td><input type="text" name="k" placeholder="酱油"></td>
                <td><input type="text" name="v" placeholder="一勺"></td>
            </tr>
            <tr class="tt">
                <td>步骤 <a href="javascript:(0)" class="append">添加步骤</a></td>
            </tr>
            <tr class="s">
                <td><input type="text" name=""></td>
                <td><input type="file" name=""></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="2"><a href="javascript:(0)" id="submit">提交</a></td>
            </tr>
            </tfoot>

            </tr>
        </table>
    </form>
</section>
{% endblock %}
{% block js %}

<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

<script>
    // 添加标签
    $(".publish_table tr:even td").attr("colspan", '2')
    $(".append:first").click(function () {
        var strr = '<tr class="m"><td><input type="text" name="" placeholder="酱油"></td><td><input type="text" name="" placeholder="一勺"></td>'
        // console.log($(".tt:last").text())
        // $(".tt:last").prependTo($(strr))
        $(".tt:last").before($(strr))
    })
    $(".append:last").click(function () {
        var strr = '<tr class="s"><td><input type="text"  name="" ></td><td><input type="file" name="" ></td></tr>'
        // $(".tt:last").prependTo($(strr))
        $("tbody").append($(strr))
    })

    // 提交表单
    $("#submit").click(function () {
        var title = $("#title").val()
        var type = $("#type").val()
        var desc = $("#desc").val()
        // 图片获取
        var main_img = ($("#main_img")[0].files[0])
        let form = new FormData();//表单数据格式


        // console.log(main_img, title, type, desc)
        var use_list = [];
        $(".m").each(function (index, currentValue) {
            var name = $(currentValue).find($('td:nth-child(1) input')).val()
            var g = $(currentValue).find($('td:nth-child(2) input')).val()
            var s = {"name": name, "g": g}
            use_list.push(s)
        })

        var steps_list = [];
        $(".s").each(function (index, currentValue) {
            var k = $(currentValue).find($('td:nth-child(1) input')).val()
            var img_file = $(currentValue).find($('td:nth-child(2) input'))[0].files[0]
            var s = {"ord": index + 1, "cont": k,}

            steps_list.push(s)
            form.append(index+1,img_file)

        })
        console.log(use_list)
        form.append("title",title)
        form.append("type",type)
        form.append("desc",desc)
        form.append("steps_list",JSON.stringify(steps_list))
        form.append("use_list",JSON.stringify(use_list))
        form.append("main_img",main_img)
        console.log(form)
        //    ajax
        $.ajax({
            url: "/publish/",			//请求的url
            method: "post",				//请求提交的方式
            data: form,	//请求传递的参数
            contentType: false,//jquery有默认的application/json
            processData: false,//ajax会做数据处理 false是不处理
            success: function (data, status) {//回调函数 data是写回在缓存中的数据，status是运行状态
                console.log("ok")
            },
            error: function () {			//当出现错误执行的回调函数
                alert("出错了");
            },
            dataType: "text"				//预期服务器返回的数据类型,常用json
        });
    })
</script>

{% endblock %}